-e git+git://github.com/svetlyak40wt/nose-notify-tmux.git@1c5fbe474a9b5b279460c5d1ee7928faca6e0160#egg=nose-notify-tmux
-e git+git://github.com/svetlyak40wt/pip-tools.git@49e94cd8531db0cfed681ce2524e6e50d07dd1d9#egg=pip-tools
-e git+git://github.com/svetlyak40wt/tdaemon.git@0c6eaaa39aec5dd8c51366476acba3d8aff0d78d#egg=tdaemon
Django==1.5.4
South==0.8.2
django-debug-toolbar==0.9.4
django-extensions==1.2.2
djangorestframework==2.3.8
drf-extensions==0.2
envoy==0.0.2
graphitesend==0.1.1
nose==1.2.1
python-dateutil==2.1
pytz==2013d
redis==2.8.0
requests==2.0.0
rq==0.3.11
six==1.4.1
times==0.6.2
