Django>=1.5,<1.6
South
djangorestframework
drf-extensions
django-extensions
django-debug-toolbar
requests
envoy
graphitesend
nose>=1.2,<1.3

-e git+git://github.com/svetlyak40wt/pip-tools.git@my-future
-e git+git://github.com/svetlyak40wt/nose-notify-tmux.git
-e git+git://github.com/svetlyak40wt/tdaemon.git@develop

