{% extends "allmychanges/base.html" %}


{% block extra_head %}
<script type="text/javascript">
    angular.module('allMyChangesApp', ['ngCookies']);

    function MainCtrl($scope, $cookies, $http) {
        $http.defaults.headers.post['X-CSRFToken'] = $cookies['csrftoken'];

        $scope.current_repo = {};
        $scope.message = {};

        $scope.examples = [
            {
                'title': 'Flask',
                'url': 'https://github.com/mitsuhiko/flask/'
            },
            {
                'title': 'Django Rest Framework',
                'url': 'https://github.com/tomchristie/django-rest-framework/'
            },
            {
                'title': 'Gevent',
                'url': 'https://github.com/surfly/gevent/'
            }
        ];

        $scope.create_message_from_dict = function(dict) {
            var messages = [];
            $.each(dict, function(key, value){
                messages.push(key.toUpperCase() + ': ' + value.join(' '))
            });
            return messages.join('; ')
        };

        $scope.set_repo_and_submit = function(title, url) {
            $scope.current_repo.title = title;
            $scope.current_repo.url = url;
        };

        $scope.create_changelog_for_url = function(url) {
            $http({
                method: 'POST',
                data: {url: url},
                url: '/v1/repos/create-changelog/?format=json'
            }).success(function(data){
                console.log(data);
            }).error(function(data){
                $scope.show_message($scope.create_message_from_dict(data.error_messages), 'danger');
            });
        };

        $scope.show_message = function(text, type) {
            var type = type || null;
            $scope.message.type = type;
            $scope.message.text = text;
        };

        var initial_url = 'http://allmychanges.com/flask-initial/';  // should be created from initial_data.json
        $scope.current_repo.url = initial_url;
        $scope.create_changelog_for_url($scope.current_repo.url);
    }
</script>
{% endblock extra_head %}


{% block content %}
    {% verbatim %}
    <div class="container" ng-controller="MainCtrl">
        <div class="headline">
            <div class="headline-message headline-message-{{ message.type }}">
                {{ message.text }}&nbsp;
            </div>

            <form action="">
                <div class="input-group">
                    <input type="text" value="" placeholder="git repo url" class="form-control" ng-model="current_repo.url">
                    <span class="input-group-btn">
                        <input type="submit"
                               value="Show changelog"
                               class="btn btn-primary input-group-addon"
                               style="width: 9em; border-radius: 0px 5px 5px 0px;"/>
                    </span>
                </div>
            </form>

            <div style="text-align: right">
                Examples:
                <small ng-repeat="example in examples">
                    <a href="javascript: false"
                       style="border-bottom: 1px dotted"
                       ng-click="set_repo_and_submit(example.title, example.url)">
                        {{ example.title }}
                    </a>
                    <span ng-hide="$last">, </span>
                </small>
            </div>
        </div>

        <div>
            <h6 ng-show="current_repo.title" style="margin-bottom: 1.5em;">
                "<a href="{{ current_repo.url }}">{{ current_repo.title }}</a>" changelog
            </h6>
            <div>
                <div ng-repeat="version in current_repo.versions" class="change_container">
                    <div style="margin-bottom: 1em">
                        <span style="font-weight: bold; font-size: 1.3em; ">Version {{ version.name }}</span>
                        <span ng-show="version.date"
                              class="note"
                              style="font-size: 13px;">
                            &nbsp;{{ version.date }}
                        </span>
                    </div>
                    <ul class="list-unstyled">
                        <li ng-repeat="item in version.items">
                            <span ng-show="!$first">&nbsp;</span>
                            <p ng-show="item.text">{{ item.text }}</p>
                            <div class="row" ng-repeat="change in item.changes" style="padding-bottom: 0.5em;">
                                <div class="col-md-1">
                                    <div class="label"
                                          ng-class="{
                                              'label-info': change.type == 'new',
                                              'label-success': change.type == 'fix'
                                          }"
                                          style="width: 100%; display: block">
                                        <b>{{ change.type | uppercase }}</b>
                                    </div>
                                </div>
                                <div class="col-md-11" style="padding-left: 0px; padding-top: 0.1em;">
                                    {{ change.text }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock content %}
