{% extends "allmychanges/base.html" %}


{% block extra_head %}
<script type="text/javascript">
    angular.module('allMyChangesApp', ['ngCookies']);

    function MainCtrl($scope, $cookies, $http, $timeout, $location) {
        $http.defaults.headers.post['X-CSRFToken'] = $cookies['csrftoken'];

        $scope.current_repo = {};
        $scope.message = {};

        $scope.examples = [
            {
                'title': 'Requests',
                'url': 'https://github.com/kennethreitz/requests'
            },
            {
                'title': 'Sentry',
                'url': 'https://github.com/getsentry/sentry/'
            },
            {
                'title': 'Gevent',
                'url': 'https://github.com/surfly/gevent/'
            }
        ];

        $scope.create_message_from_dict = function(dict) {
            var messages = [];
            $.each(dict, function(key, value){
                messages.push(key.toUpperCase() + ': ' + value.join(' '))
            });
            return messages.join('; ')
        };

        $scope.create_changelog_for_url = function(url) {
            $location.search({'url': url});
            $scope.current_repo = {
                url: url
            };
            $scope.show_message('Starting processing...');
            $http({
                method: 'POST',
                data: {url: url},
                url: '/v1/repos/create-changelog/?format=json'
            }).success(function(data){
                $scope.start_watching_for_changelog_processing(data.id);
            }).error(function(data){
                $scope.show_message($scope.create_message_from_dict(data.error_messages), 'danger');
            });
        };

        $scope.start_watching_for_changelog_processing = function(repo_id) {
            $http.get('/v1/repos/' + repo_id + '/').success(function(data){
                $scope.current_repo = data;

                $scope.show_message(
                    $scope.current_repo.processing_status_message,
                    $scope.get_message_type_for_repo($scope.current_repo)
                );

                if ($scope.current_repo.processing_state == 'in_progress') {
                    $timeout(function(){
                        $scope.start_watching_for_changelog_processing(
                            $scope.current_repo.id
                        );
                    }, 1000);
                }else{
                    if ($scope.current_repo.processing_state == 'finished') {
                        $timeout(function(){
                            $scope.message = {};
                        }, 3000);
                    }
                }
            });
        };

        $scope.get_message_type_for_repo = function(repo) {
            if (repo.processing_state == 'in_progress') {
                return 'info';
            }else if (repo.processing_state == 'finished') {
                return 'success';
            }else if (repo.processing_state == 'error') {
                return 'danger';
            }else{
                return null;
            }
        };

        $scope.show_message = function(text, type) {
            var type = type || null;
            $scope.message.type = type;
            $scope.message.text = text;
        };

        var initial_url = 'https://github.com/kennethreitz/requests';
        if (angular.isString($location.search()['url'])) {
            initial_url = $location.search()['url'];
        }
        var url = initial_url;
        $scope.current_repo.url = url;
        $scope.create_changelog_for_url($scope.current_repo.url);
    }
</script>
{% endblock extra_head %}


{% block content %}
    {% verbatim %}
    <div ng-controller="MainCtrl">
        <div class="progress-bar"
             style="width: {{ current_repo.processing_progress }}%;">&nbsp;</div>
        <div class="container">
            <div class="headline">
                <div class="headline-message headline-message-{{ message.type }}">
                    {{ message.text }}&nbsp;
                </div>

                <form ng-submit="create_changelog_for_url(current_repo.url)">
                    <div class="input-group">
                        <input type="text" value="" placeholder="git repo url" class="form-control" ng-model="current_repo.url">
                        <span class="input-group-btn">
                            <input type="submit"
                                   value="Show changelog"
                                   class="btn btn-primary input-group-addon"
                                   style="width: 9em; border-radius: 0px 5px 5px 0px;"/>
                        </span>
                    </div>
                </form>

                <div style="text-align: right;">
                    <small>Examples:</small>
                    <small ng-repeat="example in examples">
                        <a href="javascript: false"
                           style="border-bottom: 1px dotted"
                           ng-click="create_changelog_for_url(example.url)">
                            {{ example.title }}
                        </a>
                        <span ng-hide="$last">, </span>
                    </small>.
                    <small>
                        Save it to your favorites with
                        <a href="javascript:location.href='http://allmychanges.com/#?url=' + encodeURIComponent(location.href)"
                           style="border-bottom: 1px dotted"
                           onclick="return false">
                            bookmarklet
                        </a>
                    </small>
                </div>
            </div>

            <div>
                <h6 ng-show="current_repo.title" style="margin-bottom: 1.5em;">
                    "<a href="{{ current_repo.url }}" target="_blank">{{ current_repo.title }}</a>" changelog
                </h6>
                <div>
                    <div ng-repeat="version in current_repo.versions" class="change_container">
                        <div style="margin-bottom: 1em">
                            <span style="font-weight: bold; font-size: 1.3em; ">Version {{ version.name }}</span>
                            <span ng-show="version.date"
                                  class="note"
                                  style="font-size: 13px;">
                                &nbsp;{{ version.date }}
                            </span>
                        </div>
                        <ul class="list-unstyled">
                            <li ng-repeat="item in version.items">
                                <span ng-show="!$first">&nbsp;</span>
                                <p ng-show="item.text_clean" ng-bind="item.text_clean"></p>
                                <table class="changes-table">
                                    <tbody>
                                        <tr ng-repeat="change in item.changes">
                                            <td>
                                                <div class="label"
                                                      ng-class="{
                                                          'label-info': change.type == 'new',
                                                          'label-success': change.type == 'fix'
                                                      }"
                                                      style="width: 100%; display: block">
                                                    <b>{{ change.type | uppercase }}</b>
                                                </div>
                                            </td>
                                            <td ng-bind="change.text_clean"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock content %}
