{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>AllMyChanges.com</title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}"
          media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{% static "bootstrap/css/bootstrap.css" %}"
          media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{% static "css/allmychanges.css" %}"
          media="screen, projection" rel="stylesheet" type="text/css" />

  </head>
<body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Get Changes</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">All My Changes</h3>
      </div>

      <hr>

      {% block content %}
      {% endblock %}
      <hr>

      <div class="footer">
        <p>&copy; Changers team, specially for DjangoDash 2013</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
