{% extends "base.html" %}

{% block content %}
      <div class="jumbotron">
        <h1>Just enter a url of some python project's git
        repository!</h1>
        <form method="POST" action="">
          {{ form.repository }}
          {% csrf_token %}
          <input type="submit" class="btn btn-large btn-success"/>
        </form>
        <p class="lead">Cras justo odio, dapibus ac facilisis in,
        egestas eget quam. Fusce dapibus, tellus ac cursus commodo,
        tortor mauris condimentum nibh, ut fermentum massa justo sit
        amet risus.</p>
        <a class="btn btn-large btn-success" href="#">Sign up
        today</a>
      </div>

      <hr>

{% if changes %}
  <dl>
    {% for change in changes %}
      <dt>{{ change.version }}</dt>
      <dd>
        {% for section in change.sections %}
          <p>{{ section.title }}</p>
          <p>{{ section.notes }}</p>
          <ul>
            {% for item in section.items %}
              <li>{{ item }}</li>
            {% endfor %}
         </ul>
        {% endfor %}
      </dd>
    {% endfor %}
  </dl>
{% else %}
      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus.
          Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at
          eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non
          magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus.
          Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at
          eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non
          magna.</p>
        </div>
      </div>
{% endif %}


{% endblock %}
