{% extends "base.html" %}

{% block content %}
<h1>All My Changes</h1>
<form method="POST" action="">
 {{ form }}
 {% csrf_token %}
 <input type="submit"/>
</form>

{% if changes %}
  <dl>
    {% for change in changes %}
      <dt>{{ change.version }}</dt>
      <dd>
        {% for section in change.sections %}
          <p>{{ section.title }}</p>
          <p>{{ section.notes }}</p>
          <ul>
            {% for item in section.items %}
              <li>{{ item }}</li>
            {% endfor %}
         </ul>
        {% endfor %}
      </dd>
    {% endfor %}
  </dl>
{% endif %}
{% endblock %}
